/*css*/

span{
	height: 50px;
	width: 75px;
	background:#00ff00;
	display: inline-block;
	/*display try block and inline block*/
	/*float*/
	float:left;
}

div{
	height: 100px;
	width: 45%;
	background: #00ffff;
	/*display:; */
  	float: left;
  	clear: both;
  	box-sizing: content-box;
}

p{
	background: #ff00ff;
	/*visibility: visible;*/
	width: 200px;
	height:100px;
	clear: left;
	float: left;
	margin-top: 5px;
	padding-left: 0px;
	border-bottom: 6px solid #949599;
	border-radius: 5px 75px;

}
